.header-container {
  .link-header {
    position: relative;

    &:hover {
      color: #ea9940;
    }

    &:hover:after {
      visibility: visible;
      right: -30px;
    }
    &:after {
      transition: all ease 0.5s;
      content: "";
      position: absolute;
      bottom: -4px;
      right: 30px;
      height: 3px;
      width: 100%;
      border-top: 2px solid #ea9940;
      z-index: -1;
      visibility: hidden;
    }

    &:hover:before {
      visibility: visible;
      left: -30px;
    }
    &:before {
      transition: all ease 0.5s;
      content: "";
      position: absolute;
      top: -4px;
      left: 30px;
      height: 3px;
      width: 100%;
      border-top: 2px solid #ea9940;
      z-index: -1;
      visibility: hidden;
    }
  }
}
